.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Everything must be positioned absolute to allow instance box drawing */

.App-container {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  position: absolute;
  left: 30%;
  top: 5%;
  width: 40%;
  height: 20%;
}

.App-content {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.App-frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
}

.App-description {
  background-color: red;
  color: white;
  font-size: 0.7rem;
  padding: 2px;
}

.App-labels {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.App-buttons {
  position: absolute;
  left: 0;
  top: 90%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
